.App {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  .App { font-family: 'Fira Code VF', monospace; }
}

body {
  z-index: 0;
  height: 100%;
}

.canvasDiv {
  z-index: 0;
  position: absolute !important;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}